uvicorn
gunicorn
fastapi
passlib
python-dotenv
python-jose
bcrypt
orjson
redis
sqlalchemy
pymysql
loguru
numpy
interval
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability