uvicorn
gunicorn
fastapi
passlib
python-dotenv
python-jose
bcrypt
orjson
redis
sqlalchemy
pymysql
loguru
numpy
interval
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability